h1 {color: #0000ff;
text-align: center;}

h2 {color: #0000ff;
text-align: center;
font-style: italic;}

ul {color: #0000ff;
text-align: center;
font-style: oblique;}

ol {color: #0000ff;
text-align: center;
font-style: cursive}
