h1 {color: blue;
text-align: left;}

h2 {color: blue;
text-align: left;
font-style: italic;}

ul {color: blue;
text-align: left;
font-style: oblique;}

ol {color: blue;
text-align: left;
font-style: cursive}
